.about {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: fantasy;
    font-weight: 400px;
    font-style: italic;
}

.about-app {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    height: 300px;
    width: 615px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}