.about {
    display: flex;
    justify-content: center;
}

.about-app {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: solid gray;
    height: 400px;
    width: 600px;
    border-radius: 25px;
}