.background {
    background-image: url('https://cdn.dribbble.com/users/743832/screenshots/3965345/day63-64_paper-airplane_tx.gif');
    background-size: cover;
    height: 100vh;
}

html {
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/01/07/animated-colorful-landscape-wallpaper.jpg');
}

#root {
    background-color: lightgray;
    border: solid 10px;
}